#aboutContainer {
    height: 100vh;
    position: relative;
    /* background-color: #aaa; */
    background-color: #555;
    border-top: 1px solid #aaa;
}
#topArrow {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 37px;
}
.control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#top {
    width: 80vw;
    height: 80vh;
    display: flex;
    padding: 0 10vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 25% 0;
    background-color: white;
}
#aboutTitle {
    font-size: 16pt;
    font-weight: 600;
    letter-spacing: 2pt;
    margin-bottom: 4vh;
}
#aboutPicture {
    width: 140px;
    height: 140px;
    border-width: 1px;
    margin-bottom: 5vh;
    border-radius: 50%;
    background-size: cover;
    background-position:center center;
    background-image: url('../../assets/images/ProfilePicture.jpg');
}
#aboutText {
    font-size: 10pt;
    line-height: 28pt;
    margin-bottom: 6vh;
}
#iconsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aboutIcon {
    width: 40px;
    height: 45px;
    transition: all 0.9s ease-out;
}
#bottom {
    opacity: 0.9;
}
#backBottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    height: 20vh;
    /* background-color: #aaa; */
    background-color: #555;
}
#middleBottom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    height: 16vh;
    /* background-color: #555; */
    background-color: #1b1b1b;
    border-radius: 24% 0 0 0;
}
#footer {
    position: absolute;
    bottom: 0;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 100vw;
    height: 12vh;
}
.iconButton {
    width: 24px;
    height: 24px;
    opacity: 0.6;
    cursor: pointer;
}
@-webkit-keyframes slide-in {
    100% { top: 0 }
}
@keyframes slide-in {
    100% { top: 0 }
}
@media only screen and (min-width: 750px) {
    /* For desktop: */
    #top {
        width: 70vw;
        padding: 0 15vw;
    }
    #topArrow:hover {
        transform: scale(1.2) translateY(-8px);
    }
    #aboutTitle {
        font-size: 22pt;
        font-weight: 500;
        letter-spacing: 3pt;
        margin-bottom: 5vh;
    }
    #aboutPicture {
        width: 200px;
        height: 200px;
        margin-bottom: 6vh;
    }
    #iconsContainer {
        margin-bottom: 2vh;
    }
    .aboutIcon {
        width: 60px;
        height: 70px;
    }
    #aboutText {
        font-size: 14pt;
        line-height: 40pt;
        margin-bottom: 6vh;
    }
    .iconButton {
        width: 30px;
        height: 30px;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.4s;
    }
    .iconButton:hover {
        opacity: 1;
        transform: scale(1.4);
    }
    #roseImg:hover {
        transform: scale(1.5) rotate(-360deg);
    }
    #boliviaImg:hover {
        transform: scale(1.5) rotate(360deg);
    }
}