#aboutContainer {
    height: 100vh;
    position: relative;
    /* background-color: #aaa; */
    background-color: #555;
    border-top: 1px solid #aaa;
}
#topArrow {
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 37px;
}
.control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#top {
    width: 70vw;
    height: 80vh;
    display: flex;
    padding: 0 15vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 25% 0;
    background-color: white;
}
#aboutTitle {
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: 1pt;
    margin-bottom: 3vh;
}
#aboutText {
    font-size: 10pt;
    line-height: 28pt;
}
#iconsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aboutIcon {
    width: 100px;
    height: 100px;
}
#bottom {
    opacity: 0.9;
}
#backBottom {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100vw;
    height: 20vh;
    /* background-color: #aaa; */
    background-color: #555;
}
#middleBottom {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    height: 16vh;
    /* background-color: #555; */
    background-color: #1b1b1b;
    border-radius: 24% 0 0 0;
}
#footer {
    position: absolute;
    bottom: 0;
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 100vw;
    height: 12vh;
}
.iconButton {
    width: 24px;
    height: 24px;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.4s;
}
.iconButton:hover {
    opacity: 1;
    transform: scale(1.4);
}
@-webkit-keyframes slide-in {
    100% { top: 0 }
}
@keyframes slide-in {
    100% { top: 0 }
}
@media only screen and (min-width: 769px) {
    /* For desktop: */
    #top {
        width: 80vw;
        padding: 0 10vw;
    }
    #aboutTitle {
        font-size: 20pt;
        font-weight: 500;
        letter-spacing: 3pt;
        margin-bottom: 30px;
    }
    #aboutPicture {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-bottom: 45px;
        border-width: 1px;
        background-color: #bbb;
    }
    #iconsContainer {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    #aboutText {
        font-size: 15pt;
        line-height: 40pt;
    }
}