.Container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
#blackFrame {
    opacity: 1;
    visibility: visible;
    transition: visibility 2s, opacity 2s, height 2s, width 2s linear;
}
#blackFrame:hover {
    opacity: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    visibility: visible;
    flex-direction: row;
    justify-content: space-around;
}
.Frame:hover {
    animation: fly 3s
}
.Moment {
    height: 15vh;
    width: auto;
}
.Moment:hover {
    animation: grow 4s ease-in-out
}

@keyframes grow {
    100% {
        transform: scale(30);
    }
}
@keyframes fly {
    100% {
        transform: translate(0, -15vh);
    }
}