#galleryContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background-color: black;
    justify-content: flex-start;
}
#home {
    position: absolute;
    top: 20px;
    right: 25px;
}
.control {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s;
}