#galleryContainer {
    z-index: 1;
    width: 100vw;
    height: 420vh;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    /* opacity: 0.95; */
}
#galleryTitle {
    font-size: 14px;
    margin: 0 0 -25px;
    letter-spacing: 8px;
}
#logo {
    position: fixed;
    top: 25px;
    left: 25px;
    transition: transform 0.4s;
}
#logo:hover {
    cursor: none;
    transform: scale(1.4);
}
#logoImag {
    width: 22px;
    height: 22px;
}
#home {
    top: 20px;
    right: 25px;
    position: fixed;
}
.control {
    z-index: 1;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s;
}
#imageContainer {
    margin: 0;
    width: 85vw;
    height: 400vh;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.box {
    background-position:center center;
    background-color: white;
    justify-content: flex-end;
    background-size: cover;
    flex-direction: column;
    transition: all 0.4s;
    border-radius: 8px;
    color: transparent;
    min-height: 90px;
    cursor: pointer;
    display: flex;
}
.picDescription {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 1s ease;
    justify-content: space-around;
}
.box:nth-child(1) {
    -webkit-grid-column: span 2;
    grid-column: span 2;
    background-image: url('../../assets/images/DarkSunset.jpg');   
}
.box:nth-child(2) {
    -webkit-grid-column: span 2;
    grid-column: span 2;
    background-image: url('../../assets/images/FlyingTrain.JPG'); 
}
.box:nth-child(3) {
    -webkit-grid-column: span 2;
    grid-column: span 2;
    background-image: url('../../assets/images/GoldenDawn.JPG');  
}
.box:nth-child(4) {
    -webkit-grid-column: span 2;
    grid-column: span 2;
    background-image: url('../../assets/images/Sunset.JPG');  
}
.box:nth-child(5) {
    -webkit-grid-column: span 2;
    grid-column: span 2;
    background-image: url('../../assets/images/Illimani.jpg'); 
}
.box:nth-child(6) {
    -webkit-grid-row: span 2;
    grid-row: span 2;
    background-image: url('../../assets/images/Gaudi1.jpg');
}
.box:nth-child(7) {
    -webkit-grid-row: span 2;
    grid-row: span 2;
    background-image: url('../../assets/images/Gaudi2.jpg');  
}
.box:nth-child(8) {
    -webkit-grid-column: span 2;
    grid-column: span 2;
    background-image: url('../../assets/images/UmedaSky.JPG'); 
}
.box:nth-child(9) {
    -webkit-grid-row: span 2;
    grid-row: span 2; 
    background-image: url('../../assets/images/NeedleBoat.JPG');
}
.box:nth-child(10) {
    -webkit-grid-row: span 2;
    grid-row: span 2; 
    background-image: url('../../assets/images/OneToOne.JPG');
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* For ipad: */
    #galleryTitle {
        font-size: 22px;
        margin: 0 0 -55px;
        letter-spacing: 12px;
    }
    #imageContainer {
        grid-gap: 35px;
    }
    .control {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .box {
        min-height: 125px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1025px) {
     /* For ipad pro: */
    #galleryTitle {
        font-size: 23px;
        margin: 0 0 -55px;
        letter-spacing: 13px;
    }
    #home {
        top: 35px;
        right: 40px;
    }
    #logo {
        top: 28px;
        left: 32px;
    }
    #imageContainer {
        grid-gap: 40px;
    }
    .box {
        min-height: 125px;
    }
}
@media only screen and (min-width: 1025px) {
     /* For desktop: */
    #galleryContainer {
        height: 420vh;
        padding-top: 10px;
    }
    #galleryTitle {
        font-size: 24px;
        margin: 0 0 -35px;
        letter-spacing: 16px;
    }
    #logo {
        top: 30px;
        left: 40px;
    }
    #logoImag {
        width: 35px;
        height: 35px;
    }
    #home {
        top: 40px;
        right: 50px;
    }
    #imageContainer {
        grid-gap: 50px;
        max-width: 1200px;
    }
    .box {
        opacity: 0.95;
        min-height: 150px;
        transition: all 0.2s ease-out;
    }
    .box:hover {
        opacity: 1;
        color: white;
        transform: scale(1.02);
        background-color: transparent;
    }
}