.popup {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: none;
    display: flex;
    position: fixed;
    align-items: center;
    animation-name: fade;
    flex-direction: column;
    justify-content: center;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
}
#toast {
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    font-size: 16pt;
    position: absolute;
    flex-direction: row;
    align-items: center;
    animation-duration: 2s;
    justify-content: center;
    animation-timing-function: ease;
    animation-name: dissapear;
}
#shineContainer {
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-name: grow;
    border-radius: 16px;
    height: 90%;
    width: 90%;
    position: absolute;
}
#pictureContainer {
    /* background-color: rgba(255, 255, 255, 0.8); */
    animation-timing-function: ease-out;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: auto 100%;
    animation-duration: 0.9s;
    animation-name: shine;
    opacity: 0.9;
    height: 100%;
    width: 100%;
}
@keyframes dissapear {
    0% { opacity: 0 }
    60% { opacity: 1 }
    100% { opacity: 0 }
}
@keyframes fade {
    from {background-color: rgba(0, 0, 0, 0.8);}
    to {background-color: rgba(0, 0, 0, 0.9);}
}
@keyframes grow {
    from {
        height: 60%;
        width: 60%;
    }
    to {
        height: 90%;
        width: 90%;
    }
}
@keyframes shine {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 0.9;
    }
}