#menuContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#whiteBar {
    color: black;
    height: 100px;
    width: 100vw;
    display: flex;
    letter-spacing: 6pt;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#outerContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    background-color: black;
    justify-content: flex-start;
}
.banner {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1s;
    align-items: center;
    letter-spacing: 2.5pt;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}
#layer {
    transition: all 1s;
    /* animation: background-color 2s; */
}
#close {
    position: absolute;
    top: 30px;
    right: 30px;
}
.control {
    z-index: 2;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
@media only screen and (min-width: 769px) {
    /* For desktop: */
    #outerContainer {
        flex-direction: row;
        align-content: stretch;
        justify-content: flex-start;
    }
    .banner {
        transition: all 1s;
        color: rgba(255, 255, 255, 0.5);
        border-right: 0.1px solid rgba(255, 255, 255, 0.1);
        border-left: 0.1px solid rgba(255, 255, 255, 0.1);
    }
    #devBanner {
        background-color: #1b1b1b;
    }
    #devBanner:hover {
        background-color: rgba(0, 0, 0, 0.2);;
    }
    #designBanner {
        background-color: #0b0b0b;
    }
    #designBanner:hover {
        background-color: rgba(0, 0, 0, 0.1);;
    }
    .banner:hover {
        color: white;
        font-size: 16pt;
        letter-spacing: 3.5pt;
    }
    .control:hover {
        transform: scale(1.2);
    }
}