#menuContainer {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
#whiteBar {
    height: 10vh;
    width: 100vw;
    display: flex;
    color: black;
    letter-spacing: 6pt;
    flex-direction: row;
    align-items: center;
    background-color: white;
    justify-content: space-between;
}
#outerContainer {
    width: 100vw;
    height: 100%;
    opacity: 0.95;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: black;
    justify-content: flex-start;
}
.banner {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    letter-spacing: 2.5pt;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.9);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}
#devBanner {
    /* background-color: #1B438F; */
    background-size: cover;
    background-position:center center;
    background-image: url('../../assets/TriangleB.png');
}
#designBanner {
    /* background-color: #C52E30; */
    background-size: cover;
    background-position:center center;
    background-image: url('../../assets/WavesW.png');
}
#menuTitle {
    font-size: 11pt;
    font-weight: 550;
}
#layer {
    transition: all 0.6s ease;
}
#close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 25px;
    transition: transform 0.3s;
}
#menulogo {
    cursor: none;
    margin-left: 30px;
    transition: transform 0.4s;
}
@media only screen and (min-width: 1025px) {
    /* For desktop: */
    #outerContainer {
        flex-direction: row;
        background-color: white;
        justify-content: flex-start;
    }
    .banner {
        height: 100%;
        color: black;
        cursor: pointer;
        transition: all 0.6s;
        background-color: transparent;
        /* border-left: 0.1px solid rgba(0, 0, 0, 0.1); */
        /* border-right: 0.1px solid rgba(0, 0, 0, 0.1); */
    }
    #devBannerL {
        background-color: #1b1b1b10;
    }
    #devBannerL:hover {
        opacity: 0.95;
        letter-spacing: 3.5pt;
        background-size: cover;
        background-position:center center;
        background-image: url('../../assets/TriangleB.png');
        /* background-color: rgba(255, 255, 255, 0.1); */
    }
    #designBannerL {
        background-color: #0b0b0b10;
    }
    #menuTitle {
        font-size: 14pt;
        font-weight: 600;
    }
    #designBannerL:hover {
        opacity: 0.95;
        letter-spacing: 4pt;
        background-size: cover;
        background-position:center center;
        background-image: url('../../assets/WavesW.png');
        /* background-color: rgba(255, 255, 255, 0.1); */
    }
    .banner:hover {
        color: white;
        font-size: 16pt;
    }
    #close {
        width: 24px;
        height: 24px;
        margin-right: 55px;
    }
    #close:hover {
        transform: scale(1.2);
    }
    #menulogo {
        margin-left: 50px;
    }
    #menulogo:hover {
        cursor: none;
        transform: scale(1.3);
    }
}